/* ----------Generic selectors---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* ---------Utility selectors------- */

:root {
    --ds-light-dark: #55585b;
    --ds-deep-dark: #23272a;
    --ds-light-heavenly: #8ea1e1;
    --ds-deep-heavenly: #677cc2;
    --ds-off-white: #f6f6f6;
    --ds-white: white;

}

.off-white_background {
    background-color: var(--ds-off-white);
}

button {
    cursor: pointer;
}

.container {
    width: 70%;
    margin: auto;
    max-width: 1170px;
    padding: 10px 0;
    

}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.button_style_light {
    background-color: var(--ds-white);
    color: var(--ds-deep-dark);
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
   
}
.button_style_dark {
    background-color: var(--ds-deep-dark);
    color: var(--ds-white);
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
   
}

/* #region---------Debug selectors--------- */

.debug .nav_card {
    background-color: blue;
}

.debug nav {
    background-color: green;
}

.debug .presentation_card {
    background-color: yellow;
}

.debug #presentation {
    background-color: orange;
}

.debug .info_card img {
    background-color: #1c82d1;
    border: 2px dashed black;
}

.debug .description {
    background-color: #58d11c;
    border: 2px dashed black;
}

.debug .info {
    background-color: #c9103e;
    border: 2px dashed black;
    height: 300px;
}

.debug .top-footer {
    height: 300px;

}

.debug .col {
    background-color: var(--ds-light-heavenly);
    border: 1px dashed black;

}

.debug .Your_place_to_talk {
    background-color: var(--ds-deep-heavenly);
    border: 1px dashed black;

}

/* #endregion---------Debug selectors--------- */


/* ------Header selectors------- */

/* Banner selector */



header .banner {
    display: block;
    display: flex;
    flex-direction: column;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    min-height: 90vh;
    
    color: white;


}

/* Nav selector  */


.nav_card {
    padding: 10px 0;
}

.logo-discord {
    width: 25%;
    margin: 10px;
    text-align: left;

}

.log-in {
    width: 25%;
    text-align: end;
    margin: 10px;

}

.main-menù {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-menù * {
    text-decoration: none;
    color: white;
}
/* presentation selector  */

.presentation_card {
    flex-grow: 1;
}

#presentation {
    text-align: center;
    padding: 60px 80px;

}

h1 {
    padding: 20px;
}

#presentation button { 
    margin: 20px 10px;
}

/*-------- Main Selector---------  */



.info {
    width: 70%;
    display: flex;
}

.info>img {
    width: 60%;
}

.info>.description {
    width: 40%;
    padding: 10px;
}

h2 {
    padding: 10px 0;
}

/* Last different main containe */


#info_flexcolumn {
    text-align: center;
    padding: 10px 0;

}

.description {
    padding: 10px;
}

h3 {
    margin: 30px 0;
}

.img_card {
    padding: 10px;
}

#info_flexcolumn img {
    max-width: 100%;
}

/* -------Footer selector-------- */

#app-footer {
    background-color: var(--ds-deep-dark);

}

/* top-footer */

.top-footer {
    display: flex;
    border-bottom: 1px solid var(--ds-deep-heavenly);

}

.col {
    width: 15%;
}

.Your_place_to_talk {
    width: 40%;
}

/* bottom-footer */

.bottom-footer {
    border-bottom: 1px solid var(--ds-deep-heavenly);
}